.site-head {
  &__site-name {
    font-weight: 700;
    text-decoration: none;
    color: var(--color-text);
  }
  // background: var(--color-bg-glare);
  border-bottom: 1px solid;
  border-color: var(--color-text);
  // position: fixed;
  // width: 100%;
  // top: 0;
}
